<h2>Username:</h2>
<p><%=@user.username %></p>
<h2>Popularity:</h2>
<p><%= @user.popularity %></p>
<h2>Streaming</h2>
<p><%= @user.streaming %></p>

<%= link_to "List of all users", users_path %><br>
<%= link_to "Edit user", edit_user_path(@user) %><br>
<%= link_to "Delete user", @user, method: :delete %>
